.chip_outlined {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0.75rem;
  margin: auto;
  border-radius: 1rem;
  background-color: white;
  color: black;
  font-size: 0.875rem;
  font-weight: 500;
  border: 1px solid grey;
  cursor: default;
  transition: background-color 0.3s;
}

.chip_default {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0.75rem;
  margin: auto;
  border-radius: 1rem;
  background-color: #f1f1f1;
  color: black;
  font-size: 0.875rem;
  font-weight: 500;
  border: none;
  cursor: default;
  transition: background-color 0.3s;
}

.chip_default_clickable:hover {
  cursor: pointer;
  background-color: #e9e9e9;
}

.chip_outlined_clickable:hover {
  cursor: pointer;
  background-color: #f1f1f1;
}

.chip_text {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
