:root {
  --frey-color-surface: #ffffff;
  --frey-color-surface-subtle: #f1f1f1;
  --frey-color-surface-subtle-hover: #e9e9e9;
  --frey-color-text-primary: #111827;
  --frey-color-border-muted: #9ca3af;

  --frey-switch-track-inactive: #d4acfb;
  --frey-switch-track-active: #b84fce;
  --frey-switch-thumb: #ffffff;
  --frey-focus-ring: #b84fce;

  --frey-shadow-thumb: 0 0 20px rgb(0 0 0 / 40%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --frey-color-surface: #1f2937;
    --frey-color-surface-subtle: #374151;
    --frey-color-surface-subtle-hover: #4b5563;
    --frey-color-text-primary: #f9fafb;
    --frey-color-border-muted: #6b7280;

    --frey-switch-track-inactive: #7c3aed;
    --frey-switch-track-active: #a855f7;
    --frey-switch-thumb: #f9fafb;
    --frey-focus-ring: #a855f7;
  }
}

[data-theme='dark'] {
  --frey-color-surface: #1f2937;
  --frey-color-surface-subtle: #374151;
  --frey-color-surface-subtle-hover: #4b5563;
  --frey-color-text-primary: #f9fafb;
  --frey-color-border-muted: #6b7280;

  --frey-switch-track-inactive: #7c3aed;
  --frey-switch-track-active: #a855f7;
  --frey-switch-thumb: #f9fafb;
  --frey-focus-ring: #a855f7;
}
