name: Build and Publish Storybook to GitHub Pages

on:
  push:
    branches:
      - "main"

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: pnpm/action-setup@v4
        with:
          version: 10

      - uses: actions/setup-node@v4
        with:
          node-version: 22.12.0
      - run: pnpm install
      - uses: bitovi/github-actions-storybook-to-github-pages@v1.0.3
        with:
          install_command: cd apps/storybook && pnpm install
          build_command: pnpm build-storybook
          path: apps/storybook/storybook-static
          checkout: false
